<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="css/rb.css">
</head>
<body>
    <div class="pageBody">
        <%- include('../../partials/nav_bar'); %>
        <%- include('../../partials/rootbeer_actions'); %>

        <footer>
            <%- include('../../partials/footer'); %>
        </footer>
    </div>
</body>