<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/portal.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/rb.css">
</head>
<body>
    <div class="pageBody">
        <%- include('../../partials/nav_bar'); %>
        <div class="add_rb">
            <form action="/rb_update" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td class="rb_label">
                            <label>Name</label>
                        </td>
                        <td class="rb_input"> 
                            <input type="text" name="rb_brand_name" value="<%- rb.name %>" required />
                        </td>
                    </tr>
                    <tr>
                        <td class="rb_label">
                            <label>Image</label>
                        </td>
                        <td class="rb_input">
                            <input type="file" name="rb_image" id="rb_image" accept=".png, .jpg, .jpeg" />
                        </td>
                    </tr>
                </table>
                <br />
                <button type="submit" value="rootbeer" class="add_rb_button" required >
                    Update
                </button>
            </form>
        </div>
        <div class="userLogo">
            <img src="../imgs/cc_logo.png"/>
        </div>

        <p><%= rb.created %></p>

        <img src="../<%= rb.image %>" height=50>

        <div class="portalBottom">
            <div class="short">
            <img src="../imgs/short_landscape.png"/>
            </div>
            <div class="long">
            <img src="../imgs/long_landscape.png"/>
            </div>
        </div>
    </div>
</body>