<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="css/rb.css">
    <link rel="stylesheet" type="text/css" href="css/about.css">
</head>
<body>
    <div class="display_page_body">
        <%- include('./pub_partials/nav_links') %>

        <div class="rb_about">
            <br>
            <p>
                Each rootbeer is evaluated in the 8 categories below.
                A total score is then calculated based on the individual category ratings.
                The higher the total score the better the brew
            </p>
            <table>
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                <tr>
                    <td>Branding</td>
                    <td>Appeal of the logo and design of the bottle label.</td>
                </tr>
                <tr>
                    <td>Flavor</td>
                    <td>Does it taste good?</td>
                </tr>
                <tr>
                    <td>Aroma</td>
                    <td>Is the smell inviting?</td>
                </tr>
                <tr>
                    <td>After Taste</td>
                    <td>The appeal of the taste that remains after the rootbeer has passed through your gullet.</td>
                </tr>
                <tr>
                    <td>Bite</td>
                    <td>A sharp sensation different than taste, but part of the experience</td>
                </tr>
                <tr>
                    <td>Fizz</td>
                    <td>Level of carbination</td>
                </tr>
                <tr>
                    <td>Sweet</td>
                    <td>The sweeter the brew the higher the score</td>
                </tr>
                <tr>
                    <td>Smooth</td>
                    <td>Is it easy to swallow?  Does it flow down the hatch?</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>A secret formula used to rank the beverages based on the above scores</td>
                </tr>
            </table>
            <br>
            <p>
                Users can rate rootbeers more than once and are encouraged to rate often.  The more ratings the better to hone in on the score.
                If you want access to the rating side of the page send me an email and an application.
            </p>
        </div>
    </div>
</body>
</html>