<div class="navLinks">
    <ul>
        <li>
            <a href="/">Portal</a>
        </li>
        <li>
            <a href="#notes">Notes</a>
        </li>
        <li>
            <a href="#todo">To Do</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#rootbeer">Rootbeer Rater</a>
        </li>
        <li>
            <a href="/register">Add User</a>
        </li>
        <li>
            <a href="#user info">User Info</a>
        </li>
    </ul>
</div>