<div class="loginForm">
    <form action="/portal" method="post">
      <div class="loginUsername">
        <label>Username:</label>
        <input type="text" name="username" required />
        <br />
      </div>
      <div class="loginPassword">
        <label>Password:</label>
        <input type="password" name="password" required />
      </div>
      <button class="loginButton" type="submit" value="Login" required >
        Enter
      </button>
    </form>
</div>