<div class="rb_home">
    <div class="rb_home_links" >
        <a href="/rb_every">Every Root Beer</a>
        <a href="/rb_mine">My Root Beers</a>
        <a href="/ratings">My Ratings</a>
        <a href="#" onclick="slide('add_rb', 'height', 325)">Add Root Beer</a>
    </div>
    <div class="rb_home_search">
        <form action="/rb_search" method="post">
            <label>Search Root Beers:</label>
            <input type="search" name="rb_search" required />
        </form>
    </div>
</div>