<div class="rb_home">
    <div class="rb_home_links" >
        <a href="/rb_every">Every Rootbeer</a>
        <a href="/rb_mine">My Rootbeers</a>
        <a href="/ratings">My Ratings</a>
        <a href="#" onclick="slide('add_rb', 'height', 200)">Add New Rootbeer</a>
    </div>
    <div class="rb_home_search">
        <form action="/rb_search" method="post">
            <label>Search Rootbeers:</label>
            <input type="search" name="rb_search" required />
        </form>
    </div>
</div>