.cc_links {
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 10px;
    line-height: 1.5em;
}

.cc_links a {
    font-family: 'Varela';
    font-size: 1em;
    text-decoration: none;
    color: white;
}

.cc_links a:hover {
    color: #ffc800;
}

.cactus_imgs a {
    font-family: 'Varela';
    font-size: 1em;
    text-decoration: none;
    color: #265a14
}

.cactus_imgs a:hover {
    color: #8d3606
}

.add_cactus {
    display: none;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: white;
}

.add_cactus label {
    color: #d44c04;
    font-size: 1.5em;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:focus {
    background-color: #ffc800;
}

button:hover {
    background-color: #ffc800;
    font-weight: bold;
}

.cactus_imgs {
    padding-bottom: 100px;
    width: 60%;
    margin: auto;
}

.cactus_imgs img {
    width: 100px;
    height: 100px;
    vertical-align: bottom;
}

.cactus_imgs img:hover {
    border: 1px solid white;
    opacity: 80%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    width: 50%;
    height: 50%;
    margin: auto;
    border: 1px solid #888;
}

.map {
    height: 90%;
    width: 80%;
    float: left;
    margin: auto;
    margin-top: 2.5em;
}

.big_map {
    height: 90%;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 2.5em;
}

.c_side {
    height: 90%;
    width: 19%;
    position: relative;
    float: right;
}

.c_data {
    position: relative;
    color: white;
    font-size: 0.8em;
    height: 30%;
    background-color: #569b3f;
    padding-top: 5px;
    padding-bottom: 5px;
}

.c_img {
    height: 100%;
    width: 100%;
    margin-top: 10%;
}

.c_img img {
    height: 60%;
    width: 100%;
}

.marker {
    background-image: url('../imgs/cc_only.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.corner_x {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color:#8d3606;
}

.corner_x a:hover {
    font-weight: bolder;
    font-size: 2em;
}
