.coin_data {
    margin: auto;
    margin-top: 5px;
    width: 90%;
    height: 100%;
    background-color: white;
}

.coin_header {
    margin: auto;
    width: 100%;
    height: 100px;
}

.coin_header a {
    text-decoration: none;
    font-size: 3.0em;
    color: #d44c04;
}

.coin_header a:hover {
    font-weight: 600;
}

.main {
    float: left;
    display:grid;
    grid-template-columns: 10% 58% 30%;
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    width:30%;
}


.coin_img, .coin_name {
    margin-top: auto;
    margin-bottom: auto;
}

.coin_img {
    text-align: center;
}

.coin_img img {
    height: 60px; 
    margin-top: 15px;
}

.coin_price th {
    background-color: #d44c04;
}

.coin_price td {
    font-size: 2.5em;
}

.coin_price table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
   

.meta_data table {
 
}
