.pageBody {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Varela';
    background-image: linear-gradient(#ef2556, #facc04);
    position: fixed;
}

.portalBottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 100px;
}

.short img {
    height: 100px;
    width: 20%;
    float: right;
  }
  
.long img {
    height: 100px;
    width: 80%;
    float: left;
}

.view_notes {
    width: 60%;
    margin: auto;
}

.view_notes table {
    color: #8d3606;
    width: 100%;
    margin-top: 10px;
    background-color:  white;
    margin-bottom: 10px;
    text-align: center;
}

#lean_left {
    text-align: left;
}

.view_notes table, th, tr, td {
    border: 2px solid #d44c04;
    border-collapse: collapse;
}

.view_notes th {
    background-color: #d44c04;
    color: white;
}

.view_notes th:hover {
    background-color: #ef2556;
}

.view_notes a {
    text-decoration: none;
    color: #26389ca4;
}

.view_notes a:hover {
    color: #afb7e2a4;
}

#add_note_link {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    background-color: #d44c04;
}

#add_note_link:hover {
    color: #d44c04;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    background-color: #fff;

}

.enter_note {
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    height: 0; /* 100% Full-height */
    z-index: 3; /* Stay on top */
    transition: 0.2s; 
    overflow-y: hidden; /* Disable horizontal scroll */
    background-color: white;
    font-family: 'Varela';
    color: #cb7519;
    border: 1px solid #d44c04;
    position: relative;
  }

.note_form {
    margin: auto;
    width: 50%;
    font-family: 'Varela';
    font-size: 1.3em;
    float: left;
}

#note_title {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 15px;
}

#note_content {
    width: 100%;
    margin-bottom: 15px;
    font-size: 0.75em;
}

#note_tags {
    width: 60%;
    margin-bottom: 15px;
}

.enter_note input[type=text] {
    height: 1.2em;
    font-size: 0.75em;
    color: #d44c04;
}

.enter_note textarea {
    font-size: 0.75em;
    color: #d44c04;
}

.note_button:hover {
    background-color: #facc04;
    color: #d44c04
}
  
.note_button {
    padding: 3px;
    width: 10%;
    font-size: 0.75em;
    color: #facc04;
    border-radius: 10px;
    background-color: #d44c04;
    margin-top: 5%;
}

.enter_note button {
    margin-bottom: 10px;
}

.view_note {
    width: 50%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}

.view_note form {
    margin: auto;
    width: 80%;
}

#view_note_title {
    text-align: center;
    font-size: 3em;
    border: none;
    margin: auto;
}

#view_note_content {
    font-family: 'Varela';
    font-size: 1.5em;
    border: 2px solid #facc04;
    border-radius: 10px;
    background-color: white;
    width: 95%;
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
}

#view_note_tags {
    font-size: 2em;
    border: none;
    background-color: white;
}

.preview_note {
    float: right;
    width: 40%;
}
