.rb_home {
    width: 840px;
    height: 125px;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    margin-top: 30px;
}

.rb_home_links {
    width: 100%;
    height: 2em;
    border-radius: 25px 25px 0px 0px;
    background-color: #d44c04
}

.rb_home_links a {
    text-decoration: none;
    font-family: 'Varela';
    padding: 20px;
    font-size: 1.3em;
    color: #facc04;
}

.rb_home_links a:hover {
    color: white;
}

.rb_home_search {
    margin-top: 30px;
}

.rb_home_search label {
    font-size: 1.4em;
    font-family: 'Varela';
    color: #cb7519
}

.rb_home_search input[type=search] {
    border-style:none;
    border: 2px solid #cb7519;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 60%;
    height: 2.6em;
    font-size: 0.8em;
    color: #d44c04; 
  }

.rb_view {
    width: 75%;
    height: 80%;
    margin: auto;
    margin-top: 1%;
    background-color: white;
    border-radius: 20px;
}

.rb_view_name {
    background-color: #facc04;
    border-radius: 20px 20px 0px 0px;
    color: #d44c04;
}

.rb_view_name p {
    text-align: center;
    margin: auto;
    font-size: 2.0em;
    font-weight: bolder;
}

.rb_image {
    float: left;
    width: 30%;
    height: 100%;
}

.rb_image img {
    width: 100%;
}

.rb_ratings {
    float: right;
    border-bottom: 2px solid #1c6404;
    width: 70%;
    color: #1c6404;
}

.rb_avg_ratings #category {
    color: #1c6404;
    border: 2px solid #1c6404;
    border-collapse: collapse;
}

.rb_avg_ratings table {
    font-size: 1.6em;
    text-align: center;
    font-weight: 400;
    width: 100%;
    border-collapse: collapse;
}

.rb_avg_ratings td {
    border-collapse: collapse;
    border: 2px solid #1c6404
}

.rb_all_ratings table {
    wiDth: 100%;
    text-align: center;
    border: 2px solid #1c6404;
    border-collapse: collapse;
}

.rb_all_ratings th {
    background-color: #1c6404;
    color: white;
    border: 2px solid #1c6404;
    border-collapse: collapse;
}

.rb_all_ratings td {
    border: 2px solid #1c6404;
    border-collapse: collapse;
}

.edit_rb {
    margin: auto;
    height: 100px; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    background-color: #facc04;
}

.edit_rb form {
    color: #55260d;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.2em;
}

.edit_rb input {
    margin-top: 2%;
    margin-bottom: 2%;
}

.edit_rb input[type=text] {
    border-style:none;
    width: 25%;
    height: 1.8em;
    font-size: 1em;
    color: #d44c04; 
  }

.edit_rb button {
    width: 30%;
    font-size: 1.1em;
    color: #facc04;
    border-radius: 5px;
    background-color: #d44c04;
    margin-top: 1%;
    margin-bottom: 3%;
}

.edit_rb button:hover {
    background-color: #facc04;
    color: #d44c04
}

.ratings {
    margin: auto;
}

.ratings table {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.ratings table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.search_results {
    border-radius: 10px;
    margin-top: 30px;
    color: #d44c04;
}

.search_results table {
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: white;
    font-size: 1.2em;
}

.search_results th {
    background-color: #d44c04;
    color: white;
}

.search_results table, th, tr, td {
    border: 2px solid white;
    border-collapse: collapse;
}

.search_results a {
    font-family: 'Varela';
    font-size: 1em;
    color: #d44c04;
}

.search_results a:hover {
    font-weight: bold;
}

.add_rb {
    margin: auto;
    height: 0; /* 100% Full-height */
    z-index: 1; /* Stay on top */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    width: 840px;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    background-color: white;
    border-radius: 25px;
    font-size: 1.4em;
    font-family: 'Varela';
    color: #cb7519;
    border: 2px solid #d44c04
}

.add_rb table {
    margin: auto;
    margin-top: 2%;
    width: 90%;
}

.add_rb button {
    width: 30%;
    font-size: 1.1em;
    color: #facc04;
    border-radius: 5px;
    background-color: #d44c04;
}

.add_rb button:hover {
    background-color: #facc04;
    color: #d44c04
}

.add_rb input[type=text] {
    width: 90%;
    height: 1.8em;
    font-size: 1em;
    color: #d44c04;
    border-radius: 15px;
  }

  .add_rb input[type=file] {
    height: 1.6em;
    font-size: 1em;
    color: #d44c04;
  }

  .display_page_body {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Varela';
    background-image: linear-gradient(#ef2556, #facc04);
    overflow-y: scroll;
    position: absolute;
  }

  .bottom_padding {
      height: 150px;
  }
