<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); -%>
    </head>

    <body>
        <div class="pageBody">
            <%- include('../partials/nav_bar'); %>
            <h1>There will be stuff here someday</h1>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>
    </body>
</html>