<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
</head>

<body>
  <header>
    <%- include('../partials/portal_header'); -%>
  </header>

  <div class="sideBar" id="slidder">
      <%- include('../partials/portal_login.ejs'); -%>
  </div>

<div class="portalBody" style="clear:both;">
  <div class="portalLinks">
      <ul>
        <li>Data Scrounge</li>
        <li>Well Being Tracker</li>
        <li>Rootbeer Rater</li>
      </ul>
  </div>
</div>
    
  <script src="javascript/portal.js"></script>  
  <footer>
    <%- include('../partials/footer'); -%>
  </footer>
</body>

</html>